
.group-list-whole-screen {                                  /* Change */
    margin-top: 80px;
   
}

.group-heading {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 234px;
    height: 47px;
    margin-left: 10px;
    margin-top: -70px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 47px;
    color: #000000;
}

.group-dash{
    position: absolute;
    margin-left: 15px;
    margin-top: -25px;
}

.group-list-whole-screen span {                             /* Change */
    margin-top: 80px;
    position: absolute;
    width: 170px;
    height: 18px;
    left: 119px;
    top: 67px;
    /* font-family: 'IBM Plex Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #20263C;
}

.total-group {                                         /* Change */
    position: absolute;
    width: 133px;
    height: 26px;
    margin-left: 1000px;
    top: 96px;
    /* font-family: 'IBM Plex Sans'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;
}

.total-group-logo1 {                                          /* Change */
    box-sizing: border-box;
    position: absolute;
    width: 54px;
    height: 30px;
    margin-left: 1100px;
    top: 96px;
    background: #F5FCFF;
    border: 1px solid #98CBE1;
    border-radius: 7px;
    color: #008FCC;
}


.add-group-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    gap: 9px;
    position: absolute;
    width: 161px;
    height: 37px;
    margin-left: 570px;
    top: 145px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    background: #FFFFFF;
    border: 2px solid #979598;
    border-radius: 10px;
}

.add-group-button:hover {
    border: 2px solid black;
    cursor: pointer;
    /* left: 685px; */
    margin-left: 2px;
}

.group-view-history-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    gap: 9px;
    position: absolute;
    width: 165px;
    height: 37px;
    margin-left: 750px;
    top: 145px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    background: #FFFFFF;
    border: 2px solid #979598;
    border-radius: 10px;
}

.group-view-history-button:hover{
    border: 2px solid black;
    margin-left: 3px;
    cursor: pointer;
}
.group-download-reports-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    position: absolute;
    width: 200px;
    height: 37px;
    margin-left: 950px;
    top: 145px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    background: #FFFFFF;
    border: 2px solid #979598;
    border-radius: 10px;
}

.group-download-reports-button:hover{
    cursor: pointer;
    border: 2px solid black;
    margin-left: 2px;
}

.group-table{
    margin-top: 5px;
   margin-left: 10px;
    height: 530px;
    width: 1156px;
    /* border: 1px solid silver; */
    border-radius: 8px;

}

.group-table thead{
    width: 100%;
}

.group-table thead tr{
    border-right: 1px solid silver; 
    border-bottom:1px solid silver;
}

.group-table thead td{
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    width: 1%;
    height: 40px;
    border-right: 1px silver solid;
    background-color: #fbebeb;
}

.group-table tbody td{
    border-right: 1px silver solid;
    font-size: 12px;
    height: 40px;
    border-bottom:1px solid silver;
}

.group-table tbody tr{
    border-right: 1px silver solid;
}

.group-edit-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px ;
    gap: 6px;
    position: absolute;
    width: 51px;
    height: 30px;
    /* left: 856px;
    top: 145px; */
    margin-top: -12px;
    margin-left: 50px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    background: #FFFFFF;
    /* border: 1px solid #979598; */
    border: 1px solid white;
    border-radius: 5px;
}

.group-edit-button:hover{
   /* color: #FF5269; */
   color: green;
 margin-left: 52px;
 cursor: pointer;
}

.group-edit-img{
    width: 14px;
    height: 14px;
}

.group-delete-button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px ;
    gap: 6px;
    position: absolute;
    width: 71px;
    height: 30px;
    margin-top: -15px;
    margin-left: 50px;
    /* left: 856px;
    top: 145px;*/
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    background: #FFFFFF;
    /* border: 1px solid #979598; */
    border: 1px solid white;
    border-radius: 5px;
}

.group-delete-button:hover{
    /* color: #FF5269; */
    color: red;
    margin-left: 52px;
    cursor: pointer;
 }

 .group-edit-button-column{
border-right: none;
 }