.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 35px;
    height:35px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    margin: 0 7px;
    border-radius: 3px;
    border-color: #101010;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: linear-gradient(to left,#FDA7DF,#9980FA,#FDA7DF);
    color: #111;
    border-color: #eee;
}

.pagination button.active {
    font-weight: 500;
    border: 1px solid #fbebeb;
    background-position: right;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.8);
    background:#fbebeb;
    color: black;
}